<%= render 'errors' %>
<div class="dark-matter">
  <h1>Edit Task
      <span>Modify the fields that you would like to edit. <span style="color: #01E6FC;">* = required field.</span></span>
  </h1>
  <%= render 'form' %>
</div>
<%= link_to "All Tasks", tasks_path %>
