<%= render 'errors' %>
<div class="dark-matter">
  <h1>Edit Task
      <span>Modify the fields that you would like to edit. * = required field.</span>
  </h1>
  <%= render 'form' %>
</div>
<%= link_to "All Tasks", tasks_path %>
