<%= render 'errors' %>
<div class="dark-matter">
  <h1>New Task
      <span>Start by entering some basic information about the task.  <span style="color: #01E6FC;">* = required field.</span></span>
  </h1>
  <%= render 'form' %>
</div>
<%= link_to "All Tasks", tasks_path %>
