<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A task has been updated!</h1>
    <p>Please log into your account at taskclash.com to see the change.</p>
  </body>
</html>