<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Clash: New User Signed up!</title>
</head>
<body>
  <p>A new user account called <%= @subdomain %> has been created</p>
</body>
</html>
