<h1>Welcome to Task Clash!</h1>

<div class="intro">
  <p>
    Task Clash allows you to stay organized by tracking all of the time you spent on tasks.
  </p>
  
  <p>
    The configuration link will allow you to set up Clients, Products, Statuses, and Priorities.  All of these are required fields (you must have at least one).  Additionally, you can add these configurations "on the fly" by choosing to add them from the appropriate drop-down menu.  For example, to add a new Client inside of creating a new task, simple click on the drop-down menu and choose "Add New Client...".  This will allow you to type the name of a new client without going into the configuration menu.
  </p>
  
  <h3 style="color: #212121;">Clients</h3>
  <p>
    <strong>Clients</strong> are who you are tracking the time for.  Maybe you are building a website for a company, doing consulting work for someone, etc.  This can be a company name, someone's name, or anything that you feel captures this category.  If you are simply tracking the time you spent for yourself, you might go with one called "Default".
  </p>
  
  <h3 style="color: #212121;">Products</h3>
  
  <p>
    <strong>Products</strong> are what you are working on.  For a website, it might simply be "Website".  Some examples of products might be: "Legal Advice", "Smartphone", "Microsoft Excel", or the name of some other proprietary product.  Again, this is a required field, but if you don't care to track this information you can always go with "Default".
  </p>
  
  <h3 style="color: #212121;">Statuses</h3>
  
  <p>
    <strong>Statuses</strong> are the current state of what you are tracking.  Common statuses are "Open", "In Progress", and "Closed".
  </p>
  
  <h3 style="color: #212121;">Priorities</h3>
  
  <p>
    <strong>Priorities</strong> help you know what to work on next.  Since the configuration items are displayed in alphabetical order, typical priorities might be "1 - HIGH", "2 - MEDIUM", and "3 - LOW".
  </p>
</div>

<div class="tasks">
  <h1>Tasks</h1>
  <p>
    Tasks are the main element in Task Clash.  You can create a new task by clicking on the "New Task" button or going to New > Task from the toolbar.  Time does not start until after you enter all the basic information about the task:  A title, client, product, status,priority, and who the task is assigned to.
  </p>
  
  <p>
    Once you click submit, a window will display and time is tracked in the upper left hand corner.  This is the area where you record what you did.  This is useful for future reference (for example in technical support keeping track of a particular error message and how to resolve) or as a quick summary of the task performed.  Right now, you are allowed to make up to one 5 MB attachment per "detail" for the task.  You can always go back and add multiple details to the same task.
  </p>
</div>

<div class="projects">
  <h1>Projects</h1>
  <p>
    Projects are a simple way to group related tasks together.  You can see all of the tasks that need to be completed as well as the allotted time remaining.
  </p>
</div>

<div class="users">
  <h1>Users</h1>
  <p>
    Inviting new users to your account is simple.  Just click on the Users button in the toolbar.  You will see all of the current users and there is a form to invite another user.  You will also select a "role" for this user.  The roles are as follows:
    <ol>
      <li>Administrator - Can view, update, and delete records.</li>
      <li>Regular - Can view and update records.</li>
      <li>Viewer - Can only view records.</li>
    </ol>
  </p>

</div>