  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Task Clash</h1>
    <p>A ridiculously simple and easy-to-use CRM/Time Tracking tool aimed at small businesses!</p>
    <p><%= link_to "Create Account", new_account_path, class: "btn btn-primary btn-lg" %></p>
  </div>