<h1>Configuration</h1>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <th>Client</th>
    <th>Product</th>
    <th>Status</th>
    <th>Priority</th>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Show All Clients", clients_path %></td>
      <td><%= link_to "Show All Products", products_path %></td>
      <td><%= link_to "Show All Statuses", statuses_path %></td>
      <td><%= link_to "Show All Priorites", priorities_path %></td>
    </tr>
  </tbody>
</table>