@import "bootstrap-sprockets";
@import "bootstrap";
@import "layout";
@import "signin";
@import "typography";
@import "colors";
@import "style";
@import "chosen";
@import "jquery.tagit";
@import "jquery-ui";
@import "tagit.ui-zendesk";
@import "tooltipster";
@import "tasks";
@import "bxslider";

/* #### Dark Matter #### */
.dark-matter, .chosen-select {
    max-width: 100%;
    background: #337AB7;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 0.5px 0.5px 0.5px #000;
    border: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.dark-matter h1>span {
    display: block;
    font-size: 11px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}
.dark-matter label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select, .chosen-select {
    border: 2px solid white;
    color: #525252;
    height: 35px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;    
}
.dark-matter select, .chosen-select {
    background: #DFDFDF no-repeat right;
    background: #DFDFDF no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}

ul.tagit {
    border: none;
    color: #525252;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}

ul.tagit li.tagit-choice {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CAD8F3;
    background: none;
    background-color: #337AB7;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-label:not(a) {
  color: white;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
  color: white;
}

ul.tagit input[type="text"] {
  height: 100%;
}

span.tagit-label {
  text-decoration: none;
  font: 14px sans-serif;
}

.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 100%;
}
.dark-matter .button {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

.dark-matter .button:hover {
    color: #333;
    background-color: #EBEBEB;
}

.card {
  margin: 0 0 2rem;
  padding: 1rem;
  min-width: 10rem;
  background-color: white;
  word-wrap: break-word;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0;
  padding: 0;
}

.card.card-primary, .card.card-dark {
  color: white;
}
.card.card-primary {
  background-color: tomato;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f25e43, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5593f, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card.card-secondary {
  background-color: #47e3ff;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #43d7f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #3fcce5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card.card-dark {
  background-color: #404040;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #3c3c3c, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #393939, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card > :last-child {
  margin-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

th {
    font-size: 1.25em;
    font-family: 'Vollkorn', serif;
}

td {
    font-size: 1.1em;
}

p {
    font-size: 1.25em;
    font-family: 'Ubuntu', sans-serif;
}

a.btn:visited {
    color: white;
}

.label {
    font-size: .8em;
}

a.edit:visited {
    color: black;
}

section#errors {
  margin: 1em 0;
  padding: 1em;
  background: $errors-background-color;
  max-width: 500px;
  h2 {
    color: $errors-text-color;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
  }
}

#tag_cloud {
  .label {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
  }

  .label-danger {
    font-size: 1.2em;
  }

  .label-primary {
    font-size: 0.8em;
  }

  .label-success {
    font-size: 1.0em;
  }
}

.container {
  width: 95%;
}

.table-small {
  width: 2%;
}

.table-medium {
  width: 5%;
}

.table-large {
  width: 8%;
}

.table-xlarge {
  width: 10%;
}

.square-green {
  width: 20px;
  height: 20px;
  background: #5CB85C;
}

.square-red {
  width: 20px;
  height: 20px;
  background: #D9534F;
}

.square-blue {
  width: 20px;
  height: 20px;
  background: #337AB7;
}

.square-lightblue {
  width: 20px;
  height: 20px;
  background: #31B0D5;
}

.square-lightblue {
  width: 20px;
  height: 20px;
  background: #5BC0DE;
}

.square-orange {
  width: 20px;
  height: 20px;
  background: #F0AD4E;
}

.square-grey {
  width: 20px;
  height: 20px;
  background: #777777;
}

.form-49{
  width: 49%;
}

@media (max-width: 1020px) {
  .form-49 {
    width: 100%;
  }
}

.form-right {
  float: right;
}

.form-left {
  float: left;
}

ul.tagit {
  border: 2px solid white;
  height: 35px;
}

#task_billable {
  border: 2px solid white;
}

.list {
  font-family:sans-serif;
}
td {
  padding:10px; 
  border:solid 1px #eee;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

th {
  white-space: nowrap;
}

input#search {
  margin-bottom: 0px;
}

.header, .top-margin-zero {
  margin-top: 0px;
}

.div-border {
  border-top: 2px solid black;
}

.testcontainer {
  width: 95%;
}

#user_email {
  margin-bottom: 0px;
}

.analytics {
  text-align: center;
}
